.idea/
.vscode/
.vs/
*.pdb
*.dll
*.lib
*.exp
*.exe
*.so
*.bff
*.ifc
*.fdb
*std.*
*.vcxproj
*.sln
*.gen.h
*.gen.cpp
*DotSettings.user
.vs/
compile_commands.json

*runtimedependencies.txt
*imgui.ini

env/
build/
CMakeUserPresets.json
logs/
feather_dir.txt